regno, name, 3 course marks

In [4]:
import pandas as pd

In [21]:
data = {'Reg_no': [101,102,103,104,105],
        'Name': ['A','B','C','D','E'],
        'Course1': [99,93,92,90,89],
        'Course2': [66,89,45,78,77],
        'Course3': [90,80,85,35,77],}
df = pd.DataFrame(data)
df = df.set_index('Reg_no')
print(df)

       Name  Course1  Course2  Course3
Reg_no
101       A       99       66       90
102       B       93       89       80
103       C       92       45       85
104       D       90       78       35
105       E       89       77       77

In [22]:
cols = input("Enter Columns to view separated by comma\n").split(',')
cols = [col.strip() for col in cols]
cols1 = df[cols]
print(cols1)

KeyError: "None of [Index([''], dtype='object')] are in the [columns]"

In [23]:
df

       Name  Course1  Course2  Course3
Reg_no
101       A       99       66       90
102       B       93       89       80
103       C       92       45       85
104       D       90       78       35
105       E       89       77       77

Reg. no, name, course-1 mark of 2,3

In [24]:
df.iloc[1:4,0:2]

       Name  Course1
Reg_no
102       B       93
103       C       92
104       D       90

In [25]:
df.loc[102:104, ['Name','Course1']]

       Name  Course1
Reg_no
102       B       93
103       C       92
104       D       90

In [26]:
df3 = df.copy()
df3.loc[103,['Course1','Course2','Course3']] = 100
print(df3)

       Name  Course1  Course2  Course3
Reg_no
101       A       99       66       90
102       B       93       89       80
103       C      100      100      100
104       D       90       78       35
105       E       89       77       77

In [29]:
df[(df['Course1']<=50) | (df['Course2']<=50) | (df['Course3']<=50 )]

       Name  Course1  Course2  Course3
Reg_no
103       C       92       45       85
104       D       90       78       35

In [33]:
df['Name'][(df['Course1']<=50) | (df['Course2']<=50) | (df['Course3']<=50 )]

Reg_no
103    C
104    D
Name: Name, dtype: object