## Dictionary

- Dictionary is made of key value pairs.
- The values are ordered in v3.7 and higher, and vice versa
- Dictionary is mutable
- Key can hold only numbers and string

In [1]:
record = {'arun':95,'babu':85,'chitra':90,'deepan':75,'e':65}

In [2]:
print(record)

{'arun': 95, 'babu': 85, 'chitra': 90, 'deepan': 75, 'e': 65}

In [3]:
recordd = {'arun':[1,2,3],'babu':85,'chitra':90,'deepan':75,'e':65}

accessing the dictionary values using keys
keys are case-sensitive

In [6]:
print(recordd['arun'])

[1, 2, 3]

In [7]:
print(record.get('babu'))

85

In [8]:
record['chitra'] = 99

In [9]:
print(record)

{'arun': 95, 'babu': 85, 'chitra': 99, 'deepan': 75, 'e': 65}

In [10]:
recordd.keys()

dict_keys(['arun', 'babu', 'chitra', 'deepan', 'e'])

In [11]:
recordd.values()

dict_values([[1, 2, 3], 85, 90, 75, 65])

In [12]:
recordd.items()

dict_items([('arun', [1, 2, 3]), ('babu', 85), ('chitra', 90), ('deepan', 75), ('e', 65)])

In [14]:
print(record['Chitra']) #case

KeyError: 'Chitra'

In [15]:
recordd['devi'] = 88

In [16]:
#update also does the same, but pass as args
recordd.update({'helm':92})

In [17]:
recordd

{'arun': [1, 2, 3],
 'babu': 85,
 'chitra': 90,
 'deepan': 75,
 'e': 65,
 'devi': 88,
 'helm': 92}

In [19]:
recordd.pop('arun')

[1, 2, 3]

In [ ]:
if 'arun' in student:
    print(student['arun'])
else:
    print('student does not exist')

In [20]:
recordd.popitem()

('helm', 92)

In [22]:
del recordd['babu']

In [24]:
for i in record:
    print(record.keys)
    print(record.values)

<built-in method keys of dict object at 0x000001E572D14F00>
<built-in method values of dict object at 0x000001E572D14F00>
<built-in method keys of dict object at 0x000001E572D14F00>
<built-in method values of dict object at 0x000001E572D14F00>
<built-in method keys of dict object at 0x000001E572D14F00>
<built-in method values of dict object at 0x000001E572D14F00>
<built-in method keys of dict object at 0x000001E572D14F00>
<built-in method values of dict object at 0x000001E572D14F00>
<built-in method keys of dict object at 0x000001E572D14F00>
<built-in method values of dict object at 0x000001E572D14F00>

In [26]:
for i,j in enumerate(record):
    print(i,j)

0 arun
1 babu
2 chitra
3 deepan
4 e

In [33]:
for i in record:
    print(record[i])

95
85
99
75
65

In [37]:
for key in recordd:
    print(key,recordd[key])

chitra 90
deepan 75
e 65
devi 88

In [ ]:
for key in record.keys():
    b.appedn(key)

print

merging

In [38]:
recordd.update(record)

In [39]:
print(recordd)

{'chitra': 99, 'deepan': 75, 'e': 65, 'devi': 88, 'arun': 95, 'babu': 85}

In [40]:
print(record)

{'arun': 95, 'babu': 85, 'chitra': 99, 'deepan': 75, 'e': 65}

In [52]:
record_d = sorted(record.items())
record_d

[('arun', 95), ('babu', 85), ('chitra', 99), ('deepan', 75), ('e', 65)]

None

## Set

Set items are unordered, unchangeable, and do not allow duplicate values.

In [53]:
a_set = {1,2,3,4,5}

In [54]:
print(type(a_set))

<class 'set'>

In [55]:
b = a_set.copy()

In [56]:
print(b)

{1, 2, 3, 4, 5}

conversions

In [59]:
c = list(a_set)
type(c)

list

In [61]:
d = set(c)
type(d)

set

In [63]:
c = tuple(a_set)
type(c)

tuple

In [69]:
set1 = {1,2,3,4}
set2 = {2,3}

if(set2.issubset(set1)):
    for x in set1:
        for y in set2:
            if x == y:
                print(x)
else:
    print('not a subset')

2
3

& - common elements -> intersection

| - merging -> union

[ - ]-> for difference

In [70]:
a={1,2,3}
b={2,4,6}
if set(a) & set(b):
    print(set(a) & set(b))
else:
    print("no common elements")

{2}

In [71]:
set1 & set2

{2, 3}

In [72]:
set1 | set2

{1, 2, 3, 4}

In [73]:
set1 - set2

{1, 4}

In [74]:
set1

{1, 2, 3, 4}

In [75]:
set1.discard(1)

In [76]:
set1

{2, 3, 4}

In [77]:
set1.remove(2)

In [78]:
set1

{3, 4}

In [79]:
set1.discard(5)

In [80]:
set1.remove(5)

KeyError: 5

In [81]:
set2

{2, 3}

In [82]:
set3 = {1,2,3,4,5,6}

In [84]:
if 2 in set3:
    set3.remove(2)
else:
    exit()

In [85]:
set3

{1, 3, 4, 5, 6}

In [86]:
set3.pop()

1

In [87]:
set3

{3, 4, 5, 6}

In [88]:
print(not set3)

False

frozenset â†’ creates an immutable set

In [91]:
type(set3)

set

In [92]:
fs = frozenset(set3)
type(fs)

frozenset

In [93]:
fs.pop()

AttributeError: 'frozenset' object has no attribute 'pop'

In [ ]:
fs.

In [41]:
math = {'a':50,'b':55,'c':98,'d':88,'e':76}
sci = {'a':70,'b':58,'c':68,'d':78,'e':76}
lang = {'a':67,'b':50,'c':95,'d':89,'e':66}

maths = list(math.values())
science = list(sci.values())
language = list(lang.values())

print("Highest score in maths:", list(math.keys())[maths.index(max(maths))],max(maths))
print("Highest score in science:",list(sci.keys())[science.index(max(science))], max(science))
print("Highest score in language:",list(lang.keys())[language.index(max(language))] ,max(language))

Highest score in maths: c 98
Highest score in science: d 78
Highest score in language: c 95

In [34]:
print(list(math.keys())[maths.index(max(maths))],max(maths))

c 98

In [33]:
print(list(sci.keys())[science.index(max(science))], max(science))

d 78

In [32]:
print(list(lang.keys())[language.index(max(language))] ,max(language))

c 95