Name: Dheephiga A M

Temp ID: WDGET2024067

Task - 10

In [2]:
import pandas as pd

df = pd.read_csv('sales_data.csv')

In [3]:
df.head()

   OrderID   Product     Category  Price  Quantity        Date
0        1  ProductA  Electronics    500         2  2023-01-01
1        2  ProductB        Books     20         5  2023-01-02
2        3  ProductC  Electronics    800         1  2023-01-03
3        4  ProductA  Electronics    500         3  2023-01-04
4        5  ProductD     Clothing     50         4  2023-02-05