Name: Dheephiga A M

Temp ID: WDGET2024067

Task - 10

Importing necessary libraries

In [38]:
import pandas as pd
import numpy as np
import matplotlib_inline as plt

<br>
Importing pandas library and loading the .csv file

In [9]:
df = pd.read_csv('sales_data.csv')

<br>
printing the first 5 rows of the dataset

In [3]:
df.head()

   OrderID   Product     Category  Price  Quantity        Date
0        1  ProductA  Electronics    500         2  2023-01-01
1        2  ProductB        Books     20         5  2023-01-02
2        3  ProductC  Electronics    800         1  2023-01-03
3        4  ProductA  Electronics    500         3  2023-01-04
4        5  ProductD     Clothing     50         4  2023-02-05

In [4]:
df.isna()

   OrderID  Product  Category  Price  Quantity   Date
0    False    False     False  False     False  False
1    False    False     False  False     False  False
2    False    False     False  False     False  False
3    False    False     False  False     False  False
4    False    False     False  False     False  False
5    False    False     False  False     False  False
6    False    False     False  False     False  False
7    False    False     False  False     False  False
8    False    False     False  False     False  False
9    False    False     False  False     False  False

In [5]:
df.isnull()

   OrderID  Product  Category  Price  Quantity   Date
0    False    False     False  False     False  False
1    False    False     False  False     False  False
2    False    False     False  False     False  False
3    False    False     False  False     False  False
4    False    False     False  False     False  False
5    False    False     False  False     False  False
6    False    False     False  False     False  False
7    False    False     False  False     False  False
8    False    False     False  False     False  False
9    False    False     False  False     False  False

There are no missing values in the provided dataset

<br>

Total sales revenue

In [37]:
#summing up the product quantity with the price its sold and using sum function to calculate the total sales
revenue = np.sum(df['Price'] * df['Quantity'])
print(f'Total sales revenue generated is {revenue}')

Total sales revenue generated is 6030

<br>

Top 5 selling products

In [32]:
#sorting based on quantities column to identify the most sold product
top_5 = df.sort_values('Quantity', ascending=False)
print(f' Top selling products are \n {top_5[['Product','Quantity']].head()}')

 Top selling products are
     Product  Quantity
6  ProductB         6
1  ProductB         5
4  ProductD         4
3  ProductA         3
9  ProductD         3

<br>Average sales price for each category

In [36]:
#grouping the dataset by category
grouped_categories = df.groupby(by='Category')

In [40]:
grouped_categories.head()

   OrderID   Product     Category  Price  Quantity        Date
0        1  ProductA  Electronics    500         2  2023-01-01
1        2  ProductB        Books     20         5  2023-01-02
2        3  ProductC  Electronics    800         1  2023-01-03
3        4  ProductA  Electronics    500         3  2023-01-04
4        5  ProductD     Clothing     50         4  2023-02-05
5        6  ProductE        Books     30         2  2023-02-10
6        7  ProductB        Books     20         6  2023-02-15
7        8  ProductA  Electronics    500         1  2023-03-20
8        9  ProductC  Electronics    800         2  2023-03-25
9       10  ProductD     Clothing     50         3  2023-04-01