In [5]:
import pandas as pd
import numpy as np

In [4]:
sr = pd.Series()
print(sr)

Series([], dtype: float64)

C:\Users\Anitha\AppData\Local\Temp\ipykernel_3300\1282916020.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  sr = pd.Series()

In [10]:
zero_matrix = np.zeros(6, dtype="int32")
np.row_stack(zero_matrix)

array([[0],
       [0],
       [0],
       [0],
       [0],
       [0]])

In [11]:
sr = pd.Series(zero_matrix)

In [12]:
print(sr)

0    0
1    0
2    0
3    0
4    0
5    0
dtype: int32

create dict of six keys which are 6 months, and values are days in the month

In [13]:
calendar = {"Jan": 31, "Feb": 29, "Mar": 31, "Apr": 30, "May": 31}

calling the dictionary into series, it creates a table having keys as index and the value as value.

In [15]:
c_series = pd.Series(calendar)
print(c_series)

Jan    31
Feb    29
Mar    31
Apr    30
May    31
dtype: int64

In [17]:
sr = pd.Series(range(0, 10, 2))
print(sr)

0    0
1    2
2    4
3    6
4    8
dtype: int64

In [20]:
sr1 = pd.Series(range(0, 20, 2), index=range(1, 11))
print(sr)

0    0
1    2
2    4
3    6
4    8
dtype: int64

In [21]:
a = np.arange(0,11)
sr = pd.Series(data = a**2,index = a)
print(sr)

0       0
1       1
2       4
3       9
4      16
5      25
6      36
7      49
8      64
9      81
10    100
dtype: int32

In [22]:
 a = np.arange(0,11)
sr = pd.Series(data = np.sqrt(a) ,index = a)
print(sr)

0     0.000000
1     1.000000
2     1.414214
3     1.732051
4     2.000000
5     2.236068
6     2.449490
7     2.645751
8     2.828427
9     3.000000
10    3.162278
dtype: float64

In [23]:
print(sr.index)

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype='int64')

In [24]:
print(sr.values)

[0.         1.         1.41421356 1.73205081 2.         2.23606798
 2.44948974 2.64575131 2.82842712 3.         3.16227766]

In [26]:
print(sr.dtype)

float64

In [27]:
print(sr.ndim)

1

In [28]:
print(sr.size)

11

In [29]:
print(sr.shape)

(11,)

In [31]:
print(sr.values.itemsize)

8

In [32]:
print(sr.hasnans)

False

In [33]:
print(c_series['Jan'])

31

In [34]:
print(sr.empty)

False

In [53]:
marks = {'a':50,'b':35,'c':45,'d':20,'e':17}
students = pd.Series(marks)
#print(students)
print((students >= 25).sum())

3

In [54]:
print(sr.head())

0    0.000000
1    1.000000
2    1.414214
3    1.732051
4    2.000000
dtype: float64

In [57]:
even = pd.Series(range(1,11,2)) 
print(even)

0     0
1     2
2     4
3     6
4     8
5    10
dtype: int64

In [61]:
odd = pd.Series(range(1,12,2))
print(odd)

0     1
1     3
2     5
3     7
4     9
5    11
dtype: int64

In [63]:
print(odd+even)

0     1
1     5
2     9
3    13
4    17
5    21
dtype: int64